<html>
  <head>
    <%- include("../includes/head.ejs", { title: "Admin" }) %>
    <link rel="stylesheet" href="/styles/base.css" />
  </head>
  <body>
    <header><%- include("../includes/header.ejs") %></header>
    <main>
      <h1>Admin</h1>
      <a href="/add">Add a Product</a>
    </main>
  </body>
</html>
