<article id="product-item">
  <h2><%= product.title %></h2>
  <p><%= product.summary %></p>
  <div id="product-actions">
    <a id="btn" href="/products/<%= product._id %>">View Product</a>
  </div>
</article>
