<html>
  <head>
    <%- include("../includes/head.ejs", { title: "Signup" }) %>
  </head>
  <body>
    <header><%- include("../includes/header.ejs") %></header>
    <main>
      <h1>Please Signup</h1>
    </main>
  </body>
</html>
