<html>
  <head>
    <%- include("includes/head.ejs", { title: "Not authorized" }) %>
    <link rel="stylesheet" href="/styles/base.css" />
  </head>
  <body>
    <header><%- include("includes/header.ejs") %></header>
    <main>
      <h1>Not authorized!</h1>
      <p>
        You are not authorized and therefore not allowed to access this page!
      </p>
      <a class="btn" href="/">Back To Home Page</a>
    </main>
  </body>
</html>
