<html>
  <head>
    <%- include("includes/head.ejs", { title: "An error ocurred!" }) %>
    <link rel="stylesheet" href="/styles/base.css" />
  </head>
  <body>
    <header><%- include("includes/header.ejs") %></header>
    <main>
      <h1>An error ocurred!</h1>
      <p>Something went wrong - please try again later!</p>
    </main>
  </body>
</html>
