<html>
  <head>
    <%- include("includes/head.ejs", { title: "Admin" }) %>
  </head>
  <body>
    <header><%- include("includes/header.ejs") %></header>
    <main>
      <h1>Admin</h1>
      <a href="/add">Add a Product</a>
    </main>
  </body>
</html>
