<html>
  <head>
    <%- include("includes/head.ejs", { title: "Products" }) %>
  </head>
  <body>
    <header><%- include("includes/header.ejs") %></header>
    <main>
      <h1>Products</h1>
    </main>
  </body>
</html>
