<html>
  <head>
    <%- include("../includes/head.ejs", { title: "Not found!" }) %>
    <link rel="stylesheet" href="/styles/base.css" />
  </head>
  <body>
    <header><%- include("../includes/header.ejs") %></header>
    <main>
      <h1>We could not find this resource!</h1>
      <p>Unfortunately, we were not able to find this resource.</p>
      <a class="btn" href="/">Back To Home Page</a>
    </main>
  </body>
</html>
