form {
  max-width: 25rem;
  margin: 2px auto;
  box-shadow: 0 2px 8px var(--color-shadow);
  border-radius: 6px;
  padding: 1rem;
  background-color: var(--color-purple-400);
}

#auth-alternative {
  margin-top: 0.5rem;
}
