.form-control {
  margin-bottom: 0.5rem;
}

form hr {
  border-color: var(--color-purple-200);
  margin: 1rem;
}

label {
 display: block;
 color: var(--color-purple-600);
 margin-bottom: 0.5rem;
}

input,
textarea {
  font: inherit;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-grey-100);
  width: 90%;
  box-sizing: border-box;
  color: var(--color-grey-500);
}

input:focus,
textarea:focus {
  background-color: var(--color-purple-200);
}

#input-error {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: var(--color-purple-200);
  color: var(--color-error);
  border-radius: 4px;
}
