#main-header {
  width: 100%;
  margin: 0 auto;
  height: 5rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-purple-500);
}

#navUl {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navUl li {
  margin: 0 1rem;
}

#navUl a {
  color: white;
}

#navUl form {
  margin: 0;
}

#navUl button {
  font: inherit;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: white;
  padding: 0;
  margin: 0;
}

#navUl a:hover,
#navUl a:active,
#navUl button:hover,
#navUl button:active {
  color: var(--color-pink-500);
}

#logo a {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

#mobile-menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: transparent;
}

#mobile-menu-btn span {
  width: 2rem;
  height: 0.2rem;
  background-color: white;
}
