#all-products {
  text-align: center;
}

#products-list {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}

#product-item {
  margin: 1rem 0;
  box-shadow: 0 2px 8px var(--color-shadow);
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--color-purple-100);
  text-align: center;
}

#product-item h2,
#product-item p {
  margin: 0.5rem 0;
}

#product-item img {
  width: 90%;
  height: 15rem;
  object-fit: cover;
}

#product-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#product-actions form {
  margin: 0;
  padding: 0;
}

#product-actions form button{
  margin: 0;
  padding: 0;
}

#product-detail a {
  display: block;
}
